*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:	#fff2f2;
    min-height: 100vh;
    border: 10px solid #f2fffe;
    
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
.top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
h1{
    font-size: 60px;
    font-weight:bold ;
    color: rgb(30, 26, 26) ;
    text-transform: uppercase;
}
h4{
    font-size: 30px;
    text-align: right;
}
.image_container , img{
    border-radius: 50%;
    overflow: hidden;
    width: 300px; 
    height: 320px;

}
.about_section{
    margin-top: 50px;
}
h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    line-height: 30px;
}
h3{
    margin-top: 50px;
    margin-bottom: 15px;
}
ul{
    margin-left: 50px;
}
li{
    margin-bottom: 15px;
}
footer{
    margin:50px 0 ;
    
}
footer p{
    text-align: right;
}

